a {color:black;}
      h1 {text-align: right; font-size: 60pt; margin-top: 8%; margin-right: 30px; font-family: 'Playfair Display', serif;}
      h2 {text-align: right; font-size: 50pt; margin-right: 100px; font-family: 'Playfair Display', serif;}
      h3 {font-size: 22pt; margin-left: 20px;font-family: 'Source Sans Pro', sans-serif; font-weight: 400;}
      p {margin-left: 50px; font-family: 'Source Sans Pro', sans-serif; font-size: 15pt; font-weight: 300;}
     
      #Intro {
        height: 90vh;
        text-align: center;
      }

      #Intro p {
        margin-left: 50px; 
        text-align: left;
      }

      #Portfolio {
        background-color: ghostwhite;
      }

      div.link-gallery {
        display: inline-block;
        border-color: #0000ffff;
        text-align: center;
      }

      div.link-gallery img {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
      }

      div.link-gallery a {
        text-decoration: none;
        text-align: center;
      }

      * {
        box-sizing: border-box;
      }

      /* Images resize when window is resized  */
      .responsive {
        padding: 0 10px;
        float: left;
        width: 24.99999%;
      }

      /* Images are resized based on screen/window size */
      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 10px 0;
        }
      }

      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }

      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
